In [109]:
import pandas as pd
import datetime

In [2]:
data_path = "../../data/OAG.csv"
data=pd.read_csv(data_path)

In [3]:
print(data.columns)

Index(['Carrier Code', 'Carrier Name', 'Flight No', 'ICAO AL',
       'Dep Airport Code', 'Dep Airport Name', 'Arr Airport Code',
       'Arr Airport Name', 'International/Domestic', 'Local Days Of Op',
       'Local Days Of Op 1', 'Local Days Of Op 2', 'Local Days Of Op 3',
       'Local Days Of Op 4', 'Local Days Of Op 5', 'Local Days Of Op 6',
       'Local Days Of Op 7', 'Local Days Of Op Arr', 'Effective From',
       'Effective To', 'Local Dep Time', 'Local Arr Time', 'Local Arr Day',
       'Elapsed Time', 'Flying Time', 'Ground Time', 'General Aircraft Code',
       'General Aircraft Name', 'Specific Aircraft Code',
       'Specific Aircraft Name', 'Equipment Group', 'No of Stops',
       'Stopping Airport', 'Month', 'Freight Class'],
      dtype='object')

In [6]:
data=data[data["International/Domestic"]=="Domestic"]

In [61]:
not_columns = set(
    [
        'International/Domestic',
        'Local Days Of Op',
        'Local Days Of Op 1',
        'Local Days Of Op 2',
        'Local Days Of Op 3',
        'Local Days Of Op 4',
        'Local Days Of Op 5',
        'Local Days Of Op 6',
        'Local Days Of Op 7',
        'Local Days Of Op Arr',
        'Local Arr Day',
        'Elapsed Time',
        'Ground Time',
        'Month',
        'No of Stops',
        'Stopping Airport',
        'Freight Class',
        'Dep Airport Name',
        'Arr Airport Name',
        'Carrier Code',
        'Carrier Name',
        'General Aircraft Code',
        'General Aircraft Name',
        'Specific Aircraft Code',
        'Specific Aircraft Name',
        'Equipment Group',
        'Flight No',
        'ICAO AL',
    ]
)

In [119]:
print(len(data), "data")
print(len(data.columns)-len(not_columns), "columns")
for column in data.columns:
    if column in not_columns:
        continue
    print(column, len(data[column].unique()))

data["Local Dep Time"].unique()

79833 data
7 columns
Dep Airport Code 79
Arr Airport Code 79
Effective From 365
Effective To 365
Local Dep Time 229
Local Arr Time 231
Flying Time 48

KeyError: 'Dep Arr Time'

In [34]:
print(data[data["Flying Time"]=="11:09"][["Dep Airport Name","Arr Airport Name"]])
print(data[data["Flying Time"]=="8:59"][["Dep Airport Name","Arr Airport Name"]])
"飛行時間がやけに長い。なにかしらのトラブルか？"

                 Dep Airport Name     Arr Airport Name
1427   Nagasaki, Nagasaki Airport  Tokyo Intl (Haneda)
1446   Nagasaki, Nagasaki Airport  Tokyo Intl (Haneda)
1665   Nagasaki, Nagasaki Airport  Tokyo Intl (Haneda)
1688   Nagasaki, Nagasaki Airport  Tokyo Intl (Haneda)
1728   Nagasaki, Nagasaki Airport  Tokyo Intl (Haneda)
41829  Nagasaki, Nagasaki Airport  Tokyo Intl (Haneda)
          Dep Airport Name            Arr Airport Name
1347   Tokyo Intl (Haneda)  Nagasaki, Nagasaki Airport
1441   Tokyo Intl (Haneda)  Nagasaki, Nagasaki Airport
1682   Tokyo Intl (Haneda)  Nagasaki, Nagasaki Airport
31360  Tokyo Intl (Haneda)  Nagasaki, Nagasaki Airport

'飛行時間がやけに長い。なにかしらのトラブルか？'

In [40]:
"空港の名前が発着で一致"
for check in ["Name", "Code"]:
    dep_code = set(data["Dep Airport "+check].unique())
    arr_code = data["Arr Airport "+check].unique()
    for code in arr_code:
        if not code in dep_code:
            print(check, code)

In [72]:
columns = set(
    [
        "Dep Airport Code",
        "Arr Airport Code",
        "Effective From",
        "Effective To",
        "Local Dep Time",
        "Local Arr Time",
        "Flying Time",
    ]
)
timetable = pd.DataFrame({column:data[column] for column in columns})

In [73]:
timetable

,Effective From,Effective To,Local Arr Time,Local Dep Time,Dep Airport Code,Flying Time,Arr Airport Code
1206,1/4/2019,30/6/2019,900,710,HND,1:50,KMJ
1207,28/10/2019,31/12/2019,910,710,HND,2:00,KMJ
1208,1/1/2019,24/3/2019,915,735,KMJ,1:40,HND
1209,21/10/2019,26/10/2019,1405,1215,HND,1:50,KMJ
1210,28/10/2019,31/12/2019,1120,945,KMJ,1:35,HND
...,...,...,...,...,...,...,...
186170,1/7/2019,7/7/2019,1655,1630,TRA,0:25,MMY
186171,13/7/2019,25/8/2019,1650,1625,TRA,0:25,MMY
186172,1/9/2019,29/9/2019,1655,1630,TRA,0:25,MMY
186173,1/10/2019,24/11/2019,1705,1640,TRA,0:25,MMY
186174,25/11/2019,31/12/2019,1705,1640,TRA,0:25,MMY

In [86]:
h, m = [int(i) for i in "1:00".split(":")]
t1 = datetime.time(h,m)
h, m = [int(i) for i in "2:30".split(":")]
t2 = datetime.time(h,m)

In [107]:
def str2time(string):
    h, m = [int(i) for i in string.split(":")]
    t = datetime.time(h,m)
    return t

def time_delta(tf, tt):
    if type(tf) is str:
        tf=str2time(tf)
    if type(tt) is str:
        tt=str2time(tt)
    df = datetime.datetime.combine(datetime.date.today(), tf)
    dt = datetime.datetime.combine(datetime.date.today(), tt)

    if df > dt:
        dt += datetime.timedelta(days=1)
    
    return dt-df

In [110]:
time_delta("1:20","1:30")

datetime.timedelta(seconds=600)

In [112]:
t1+datetime.timedelta(minutes=10)

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'